@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.max-w-small {
    max-width: 150px;
}

.bg-custom-blue {
    background: #0b103d;
}

.bg-custom-pink {
    background: #e64353
}
